body {
  background-color: rgb(48, 157, 167);
}

#board {
  padding: 2em;
  background-color: rgb(10, 65, 218);
  margin: 0px auto;
  border-radius: 3em;
  display: none;
}

.header {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding: 0;
  margin: 2px;
  color: #0c10df;
}

.column {
  display: inline-block;
  margin: 0 0.5em;
}

.space {
  height: 5em;
  width: 5em;
  border-radius: 100%;
  background-color: rgb(48, 157, 167);
  /* Needs to be same color as body */
  margin: 1em 0;
  opacity: 0;
}

p {
  text-align: center;
  font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 5em;
  /*display: none;*/
}

#footer {
  font-family: Georgia;
}

.empty {
  color: #FFFFFF;
}

.player1 {
  color: rgb(7, 7, 7);
  background-color: #D91C1C;
}

.player2 {
  color: rgb(7, 7, 7);
  background-color: #FFFF00;
  /*Can always try yellow*/
}

td {
  text-align: center;
  font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  padding: 0.2em 0.5em;
}

.controls {
  position: relative;
  width: 6em;
  margin: auto;
  top: -7em;
}