* {
   cursor: default;
 }
 body {
   margin: 0;
   background: #0e98e3;
   color: #ecf0f1;
 }
 .wrapper {
   display: flex;
   width: 800px;
   margin: 0 auto;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }
 h1 {
   font-family: 'Raleway', sans-serif;
   text-align: center;
   padding: 0;
   margin: 2px;
 }
 p {
   font-family: 'Open Sans', sans-serif;
   font-size: 18px;
   margin: 0;
   padding: 0;
   text-transform: uppercase;
 }
 .scoreBoard {
   display: flex;
   padding: 10px;
   width: 350px;
   justify-content: space-between;
   align-items: center;
 }
 .score {
   padding: 0 30px;
   text-align: center;
   flex-direction: column;
   align-items: center;
   transition: content .5s;
 }
 .scoreP1 {
   background: #d8544a;
   border: 2px #d8544a solid;
   border-radius: 10px;
   transition: background 1s;
 }
 .scoreP2 {
   background: rgba(236, 181, 56, 0);
   border: 2px #ecb538 solid;
   border-radius: 10px;
   transition: background 1s;
 }
 